@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600;700&display=swap");

body {
  margin: 0;
  padding: 20px 60px;
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
